#banner
  .banner_content
  %h1 File Cabinet
  %p Your life's work. Organised, always.
  %button= link_to "Enter", new_user_registration_path

  #callouts
    .callout_inner
      .wrapper
        .callout
        %h2 Organize
        %p He attended St. Mary's School, Mumbai until class II and then transferred to Delhi.[14] In 1957, the family moved to Delhi where he attended Delhi Public School, Mathura Road. Although the family moved back to Mumbai in 1960, he was sent to Barnes School in Deolali, near Nashik. During his time at the boarding school Khanna watched the epic Solva Saal and Mughal-e-Azam and fell in love with motion pictures.[15] He graduated with a commerce degree from Sydenham College, Mumbai.[16]


  #bottom_cta
    .wrapper
      %h2 Go Ahead!
      %br 
      %button= link_to "Join Now", new_user_registration_path
